# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
commands:
  print_pipeline_id:
    steps:
      - run: echo ${CIRCLE_WORKFLOW_ID}
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
jobs:
  fail_build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: Fail Build
          command: |
            return 1
      - run:
          name: Print out Heelo Error
          command: |
            echo "Hellow Error!"
          when: on_fail
      # Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run
      - fail_build
